* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
.container {
    min-height: 100vh;
}
.cabecalho {
    display: flex;
    padding: 0 30px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d9dbe0;
}
.links {
    display: flex;
    gap: 50px;
}
.link {
    text-decoration: none;
    color: #030303;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
   line-height: 1.55;
    font-weight: 400;
}
.link:hover {
    color: #0053ff;
}
.corpo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
  
}
.texto {
    display: flex;
    flex-direction: column;
    padding-left: 100px;    
}
.titulo {
    font-family: Arial, sans-serif;
    font-size: 50px;
}
.paragrafo {
    font-size: 18px;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.img img{
    width: 800px;   
    padding-right: 50px;
    padding-top: 90px;
}
.acesso {
    text-decoration: none;
    background-color: #0053ff;
    color: white;
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    max-width: fit-content;
    text-align: center;
}

